buttonColor = COLOR_PINK
buttonBorderRadius = 2px

.Button
  color COLOR_TEXT_WHITE
  cursor pointer
  text-transform uppercase
  background-color buttonColor
  border none
  border-radius buttonBorderRadius
  transition background-color TRANSITION_FAST
  &:hover
    background-color lighten(buttonColor, 10)
  &:focus
    outline none
