.MenuBar
  position: absolute
  bottom: 0
  width: 100%
  height: 50px
  background-color COLOR_GREEN

  .menuItem
    display: inline-block
    height: 100%
    float: left
    border-right 1px solid COLOR_WHITE
    padding 10px 20px
    line-height: 2