modalWidth = 800px
modalHeight = 600px
headerHeight = 40px
contentPadding = 10px

.Modal
  width: modalWidth
  height: modalHeight
  background-color COLOR_YELLOW
  position: absolute
  top: 50%
  left: 50%
  margin-left: -(modalWidth / 2)
  margin-top: -(modalHeight / 2)

  .header
    position: absolute
    height: headerHeight
    width: 100%
    background-color coral

    .title
      text-align: center
      width: 100%
      height: 100%
      color COLOR_TEXT_WHITE
      line-height: headerHeight

    .close
      position: absolute
      top: 0
      right: 0
      padding 4px
      width: headerHeight
      height: headerHeight
      background-color transparent
      font-size 16px
      color COLOR_TEXT_WHITE
      transition background-color TRANSITION_FAST
      &:hover
        background-color rgba(COLOR_WHITE, 0.2)

  .content
    width: 100%
    height: 100%
    padding: (headerHeight + contentPadding) contentPadding contentPadding contentPadding
