itemColor = COLOR_GRAY
itemHoverColor = mix(itemColor, COLOR_BLUE, 30%)

verticalPadding = 20px
buttonSize = 100px
buttonPadding = 10px
itemMargin = 4px

.Sidebar
  position absolute
  display flex
  justify-content center
  left 0
  top 0
  height "calc(100% - %s)" % menuBarHeight
  padding verticalPadding 0

  .column
    display flex
    flex-direction column
    justify-content center
    width: buttonSize
    margin-right: itemMargin

    .sidebarItem
      background-color rgba(itemColor, 50%)
      padding buttonPadding
      text-align center
      width buttonSize
      height buttonSize
      margin (itemMargin/2) 0
      cursor: pointer
      transition background-color TRANSITION_FAST

      &.selected
        background-color rgba(COLOR_PINK, 90%)
        &:hover
          background-color rgba(COLOR_PINK, 100%)

      &:hover
        background-color rgba(itemHoverColor, 50%)

      .icon
        display block
        height 70%
      .title
        display block
        text-transform uppercase