// TODO Hashes don't work when importing from other files. Investigate.

//// COLORS
// Base Colors
COLOR_WHITE = #fff
COLOR_PINK = #ef2d5e
COLOR_YELLOW = #f2e646
COLOR_GREEN = #228d7f
COLOR_BLUE = #24caff
COLOR_GRAY = #404040
// Component Colors
COLOR_TEXT_WHITE = COLOR_WHITE
COLOR_SIDE_BAR = COLOR_GRAY

// Transition speeds
TRANSITION_FAST = 100ms
TRANSITION_NORMAL = 250ms
TRANSITION_SLOW = 500ms

//// SIZES
menuBarHeight = 50px